<%- include ('partial/headerCS') %>


 <main class="container">
   <h6><span>02</span> MEET YOUR Crew</h6>
    <div class="second-container">
   <p class="specialist">Mission Specialist </p>
   <p class="specialistName">MARK SHUTTLEWORTH</p>
   <p>
     Mark Richard Shuttleworth is the founder and CEO of Canonical, the company behind the Linux-based Ubuntu
     operating system. Shuttleworth became the first South African to travel to space as a space tourist.
   </p>
    </div>
 </main>
 <div class="carol">
   <span><a href="/crew-commander" class="circle"></a></span>
   <span><a href="/crew-engineer" class="circle"></a></span>
   <span><a href="/crew-pilot" class="circle"></a></span>
   <span><a href="/crew-specialist" class="circle"></a></span>
 </div>

 <aside>
   <img src="/assets/crew/image-mark-shuttleworth.png" class="specialist-image" alt="specialist image">
 </aside>



<%- include ('partial/footer') %>