<%- include ('partial/headerCC') %>



   <main class="container">
     <h6><span>02</span> MEET YOUR Crew</h6>
      <div class="second-container">
     <p class="commander">Commander </p>
     <p class="commanderName">Douglas Hurley</p>
     <p>
       Douglas Gerald Hurley is an American engineer, former Marine Corps pilot and former NASA astronaut. He
       launched into space for the third time as commander of Crew Dragon Demo-2.
     </p>
      </div>
   </main>
   <div class="carol">
     <span><a href="/crew-commander" class="circle"></a></span>
     <span><a href="/crew-engineer" class="circle"></a></span>
     <span><a href="/crew-pilot" class="circle"></a></span>
     <span><a href="/crew-specialist" class="circle"></a></span>
   </div>

   <aside>
     <img src="/assets/crew/image-douglas-hurley.png" class="commander-image" alt="commander image">
   </aside>

  <%- include ('partial/footer') %>
