<%- include ('partial/headerDMO') %>

<div class="image-container">
  <div class="destination">
    <h6><span>01</span> Pick your destination</h6>
  </div>
  <img src="/assets/destination/image-moon.png" class="image-moon" alt="Moon image">
</div>


<div class="container">
  <div class="moon-header">
    <span><a href="/destination-moon">MOON</a></span>
    <span><a href="/destination-mars">MARS</a></span>
    <span><a href="/destination-europa">EUROPA</a></span>
    <span><a href="/destination-titan">TITAN</a></span>
  </div>
  <h4>MOON</h4>
  <p class="full-content">
    See our planet as you’ve never seen it before. A perfect relaxing trip away to help
    regain perspective and come back refreshed. While you’re there, take in some history
    by visiting the Luna 2 and Apollo 11 landing sites.
  </p>
  <span class="horizontal"></span>
  <div class="avg-container">
    <span class="avg-dis">
      <p>Avg. distance</p>
      <p>384,400 km</p>
    </span>
    <span class="est-trav">
      <p>Est. travel time</p>
      <p>3 days</p>
    </span>
  </div>
</div>

<%- include ('partial/footer') %>