<%- include ('partial/headerDMA') %>

<div class="image-container">
  <div class="destination">
    <h6><span>01</span> Pick your destination</h6>
  </div>
  <img src="/assets/destination/image-mars.png" class="image-mars" alt="mars image">
</div>

  <div class="container">
    <div class="mars-header">
      <span><a href="/destination-moon">MOON</a></span>
      <span><a href="/destination-mars">MARS</a></span>
      <span><a href="/destination-europa">EUROPA</a></span>
      <span><a href="/destination-titan">TITAN</a></span>
  </div>
   <h4>MARS</h4>
   <p class="full-content">
     Don’t forget to pack your hiking boots. You’ll need them to tackle Olympus Mons, the tallest planetary
     mountain in our solar system. It’s two and a half times the size of Everest! </p>
   <span class="horizontal"></span>
   <div class="avg-container">
     <span class="avg-dis">
       <p>Avg. distance</p>
       <p>225 MIL. km</p>
     </span>
     <span class="est-trav">
       <p>Est. travel time</p>
       <p>9 MONTHS</p>
     </span>
   </div>
  
</div>

<%- include ('partial/footer') %>