<%- include ('partial/headerDT') %>

<div class="image-container">
  <div class="destination">
    <h6><span>01</span> Pick your destination</h6>
  </div>
  <img src="/assets/destination/image-titan.png" class="image-titan" alt="mars image">
</div>

<div class="container">
  <div class="titan-header">
    <span><a href="/destination-moon">MOON</a></span>
    <span><a href="/destination-mars">MARS</a></span>
    <span><a href="/destination-europa">EUROPA</a></span>
    <span><a href="/destination-titan">TITAN</a></span>
  </div>

   <h4>TITAN</h4>
   <p class="full-content">
     The only moon known to have a dense atmosphere other than Earth, Titan is a home away from home (just a few
     hundred degrees colder!). As a bonus, you get striking views of the Rings of Saturn.
   </p>
   <span class="horizontal"></span>
   <div class="avg-container">
     <span class="avg-dis">
       <p>Avg. distance</p>
       <p>1.6 BIL. km</p>
     </span>
     <span class="est-trav">
       <p>Est. travel time</p>
       <p>7 YEARS</p>
     </span>
   </div>
</div>

 <%- include ('partial/footer') %>
