<%- include ('partial/headerDE') %>

<div class="image-container">
  <div class="destination">
    <h6><span>01</span> Pick your destination</h6>
  </div>
  <img src="/assets/destination/image-europa.png" class="image-europa" alt="mars image">
</div>

<div class="container">
  <div class="europa-header">
    <span><a href="/destination-moon">MOON</a></span>
    <span><a href="/destination-mars">MARS</a></span>
    <span><a href="/destination-europa">EUROPA</a></span>
    <span><a href="/destination-titan">TITAN</a></span>
  </div>
   <h4>EUROPA</h4>
   <p class="full-content">
     The smallest of the four Galilean moons orbiting Jupiter, Europa is a winter lover’s dream. With an icy
     surface, it’s perfect for a bit of ice skating, curling, hockey, or simple relaxation in your snug wintery
     cabin.
   </p>
   <span class="horizontal"></span>
   <div class="avg-container">
     <span class="avg-dis">
       <p>Avg. distance</p>
       <p>628 MIL. km</p>
     </span>
     <span class="est-trav">
       <p>Est. travel time</p>
       <p>3 YEARS</p>
     </span>
   </div>
  
</div>
  <%- include ('partial/footer') %>