<%- include ('partial/headerTS') %>

<section id="container">
  <div class="tech-header  ">
    <h6><span>03</span> Space launch 101</h6>
  </div>
  <div class="landscape-image"></div>
  <div class="numbering">
    <p><a href="/technology-vehicle">1</a></p>
    <p><a href="/technology-spaceport">2</a></p>
    <p><a href="/technology-capsule">3</a></p>
  </div>

  <div class="main-content">
    <p>THE TERMINOLOGY...</p>
    <p>SPACEPORT</p>
    <p>
      A spaceport or cosmodrome is a site for launching (or receiving) spacecraft, by analogy to the seaport
      for ships or airport for aircraft. Based in the famous Cape Canaveral, our spaceport is ideally situated
      to take advantage of the Earth’s rotation for launch.
    </p>
  </div>
</section>
<aside>
  <img src="/assets/technology/image-spaceport-portrait.jpg" class="techSport-image" alt="engineer image">
</aside>


<%- include ('partial/footer') %>